/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    max-width: 60vw;
    margin: 0;
}

main {
    width: 100%;
    max-width: none;
    padding: 2em;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg);
    background-size: cover;
    background-position: center center;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE*/

@media screen and (orientation: landscape) {
    main {
        max-width: 50vw;
        margin-left: 2vw;
    }

    #rhodiePicture {
        width: 50vw;
    }

    #rhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: deepforestgreen;
    }

    #rhodieTitle h1 {
        width: 45vw;
    }

/* REST OF THE DESKTOP LAYOUT HERE */

}