

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    margin-top: 0;
}

/* Button styles */
.button,
.category-btn {
    display: block;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

/* Hero */
.hero-image {
    height: 150px;
    background: lightgray;
    margin-bottom: 1rem;
}

/* Categories */
.category-grid {
    display: grid;
    gap: 10px;
}

/* Featured cards */
.featured-grid {
    display: grid;
    gap: 10px;
}

.card {
    border: 1px solid black;
    padding: 1rem;
}

.card-image {
    height: 100px;
    background: gray;
    marging-bottom: 10px;
}

/* Footer */
footer {
    border-top: 1px solid black;
    text-align: center;
    padding: 1 rem;
}